<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YACINE DOWNLOADER</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container ">
    <h2>YACINE DOWNLOADER</h2>
    <form action="/download" method="post">
        <input type="text" name="url" placeholder="ادخل الرابط هنا.....">
        <button type="submit">تحميل الان</button>
    </form>
</div>
</body>
</html>